.login-box
  .login-logo
    a href="#"
      b TIME TRACKER
  .login-box-body
    p.login-box-msg Register as a new user
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-group.has-feedback
        = f.input :email, required: true, autofocus: true, label: false
        span.fa.fa-envelope.form-control-feedback
      .form-group.has-feedback
        = f.input :password, required: true, label: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        span.fa.fa-lock.form-control-feedback
      .form-group.has-feedback
        = f.input :password_confirmation, required: true, label: false
        span.fa.fa-lock.form-control-feedback
      .row
        .col-xs-8
        .col-xs-4
          /button.btn.btn-primary.btn-block.btn-flat type="submit"  Sign In
          = f.button :submit, "Sign up", class: "btn-block btn-flat"
    = render "devise/shared/links"
