aside.main-sidebar
  section.sidebar
    .user-panel
      .pull-left.image
        = image_tag current_user.avatar.url(:profile), class:"img-circle", alt: ("User picture")
      .pull-left.info
        p
          = current_user.name

        a href="#"
          i.fa.fa-circle.text-success
          | Online

    ul.sidebar-menu
      li.header Menu

      li class="#{active_menu('projects')}"
        =link_to projects_path do
          i.fa.fa-bars
          span Projects
      li class="#{active_menu('task_times')}"
        =link_to task_times_path do
          i.fa.fa-bars
          span Times
