footer.main-footer
  /! To the right
  .pull-right.hidden-xs
    | Time tracker
  /! Default to the left
  strong
    | Copyright &copy; 2016
    a href="#"  Ricardo Montes Test.
  | All rights reserved.
