aside.control-sidebar.control-sidebar-dark
  .tab-content
    #control-sidebar-settings-tab.tab-pane.active
      h3.control-sidebar-heading Opciones Generales
      ul.control-sidebar-menu
        li
          = link_to "#" do
            i.menu-icon.fa.fa-user.bg-blue
            .menu-info
              h4.control-sidebar-subheading Asignar Usuarios
              p Otorga a usuarios permisos de actualizar temas.

.control-sidebar-bg
