- flash.each do |type, message|
  .col-md-4
    #flash_messages class=("alert #{alert_class_for(type)} alert-dismissible fade in")
      button.close data-dismiss="alert" type="button" aria-hidden="true"
        | ×
      = message
