title Time Tracker
meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" /
= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag 'application'

link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" /
link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" /

= csrf_meta_tags
