header.main-header
  = link_to root_path, class: "logo" do
    span.logo-mini
      b TT
    span.logo-lg
      b TIME TRACKER
  nav.navbar.navbar-static-top role="navigation"
    a.sidebar-toggle data-toggle="offcanvas" href="#" role="button"
      span.sr-only Toggle navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        = render partial: "shared/userdata_info"
