li.dropdown.user.user-menu
  /! Menu Toggle Button
  a.dropdown-toggle data-toggle="dropdown" href="#"
    /! The user image in the navbar
    = image_tag current_user.avatar.url(:profile), class:"user-image", alt: ("User picture")
    /! hidden-xs hides the username on small devices so only the image appears.
    span.hidden-xs = current_user.name
  ul.dropdown-menu
    /! The user image in the menu
    li.user-header
      = image_tag current_user.avatar.url(:profile), class:"img-circle", alt: ("User picture")
      p
        = current_user.name

        small
          | Member Since
          = " #{I18n.l current_user.created_at, format: :long}"
    /! Menu Body
    /! Menu Footer
    li.user-footer
      .pull-left
        /= link_to "Pérfil", "#", class: "btn btn-default btn-flat"

      .pull-right
        = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat"
