/! Messages: style can be found in dropdown.less
li.dropdown.messages-menu
  /! Menu toggle button
  a.dropdown-toggle data-toggle="dropdown" href="#"
    i.fa.fa-envelope-o
    span.label.label-success 4
  ul.dropdown-menu
    li.header You have 4 messages
    li
      /! inner menu: contains the messages
      ul.menu
        li
          /! start message
          a href="#"
            .pull-left
              /! User Image
              img.img-circle alt=("User Image") src="http://placehold.it/160x160" /
              /! Message title and timestamp
            h4
              | Support Team
              small
                i.fa.fa-clock-o
                | 5 mins
            /! The message
            p Why not buy a new awesome theme?
        /! end message
      /! /.menu
    li.footer
      a href="#"  See All Messages
/! /.messages-menu
/! Notifications Menu
li.dropdown.notifications-menu
  /! Menu toggle button
  a.dropdown-toggle data-toggle="dropdown" href="#"
    i.fa.fa-bell-o
    span.label.label-warning 10
  ul.dropdown-menu
    li.header You have 10 notifications
    li
      /! Inner Menu: contains the notifications
      ul.menu
        li
          /! start notification
          a href="#"
            i.fa.fa-users.text-aqua
            | 5 new members joined today
        /! end notification
    li.footer
      a href="#"  View all
/! Tasks Menu
li.dropdown.tasks-menu
  /! Menu Toggle Button
  a.dropdown-toggle data-toggle="dropdown" href="#"
    i.fa.fa-flag-o
    span.label.label-danger 9
  ul.dropdown-menu
    li.header You have 9 tasks
    li
      /! Inner menu: contains the tasks
      ul.menu
        li
          /! Task item
          a href="#"
            /! Task title and progress text
            h3
              | Design some buttons
              small.pull-right 20%
            /! The progress bar
            .progress.xs
              /! Change the css width attribute to simulate progress
              .progress-bar.progress-bar-aqua aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 20%")
                span.sr-only 20% Complete
        /! end task item
    li.footer
      a href="#"  View all tasks
/! User Account Menu
