.row
  .col-md-6
    .box.box-default
      .box-body
        = simple_form_for @project do |f|
          = f.error_notification
          .form-inputs
            = f.input :name, required: true, autofocus: true

          .form-actions
            = f.button :submit, "Save"
