tr
  td = project.name

  td
    = link_to "Edit", edit_project_path(project), class: 'btn btn-info btn-xs'
    = link_to  "Delete", project, method: :delete, data: { confirm: "Are you sure to delete this record?" }, class: 'btn btn-danger btn-xs'
