= content_for :head do
    h1
      | Projects Management
.row
  .col-md-6
    .box
      .box-header
        h3.box-title Projects
        .box-tools
          .input-group
            = link_to "Create new Project", new_project_path, class: "btn btn-primary btn-xs pull-right"

      .box-body
        table.table.table-condesed
          thead
            tr
              th Name
              th Actions
          tbody
            = render(@projects) || raw("<tr><td class='text-muted text-center no-records-text' colspan='5'>No Projects</td></tr>")
      .box-footer
        .text-center
          = paginate @projects
