.login-box
  .login-logo
    a href="#"
      b TIME TRACKER
  .login-box-body
    p.login-box-msg Sign in to start your session
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.error_notification
      .form-group.has-feedback
        = f.input :email, required: false, autofocus: true, label: false, placeholder: "E-mail"
        span.fa.fa-envelope.form-control-feedback
      .form-group.has-feedback
        = f.input :password, required: false, label: false, placeholder: "Contraseña"
        span.fa.fa-lock.form-control-feedback
      .row
        .col-xs-8
          .checkbox.icheck
            label
              = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .col-xs-4
          /button.btn.btn-primary.btn-block.btn-flat type="submit"  Sign In
          = f.button :submit, "Log in", class: "btn-block btn-flat"

    .social-auth-links.text-center
      p -OR-
      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          = link_to raw("<i class='fa fa-twitter'></i> Sign in with #{OmniAuth::Utils.camelize(provider)}"), omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-social btn-facebook btn-flat"
          br
    = render "devise/shared/links"
