.row
  .col-md-6
    .box.box-default
      .box-body
        = simple_form_for @task_time do |f|
          = f.error_notification
          .form-inputs
            = f.input :name, autofocus: true
            = f.input :init_time, as: :time, required: true
            = f.input :end_time, as: :time, required: true
            = f.input :task_date, as: :date, required: true
            = f.input :project_id, as: :select, :collection => @projects

          .form-actions
            = f.button :submit, "Save"
