tr
  td = task_time.name.present? ? task_time.name : "(No Description)"
  td = task_time.project.present? ? task_time.project.name : "(No Project)"
  td = task_time.time
  td = "#{task_time.init_time.localtime.strftime('%I:%M:%S %p')} - #{task_time.end_time.localtime.strftime('%I:%M:%S %p')}"
  td = task_time.task_date.strftime('%D')

  td
    = link_to raw("<i class='fa fa-play'></i> Continue"), continue_task_task_time_path(task_time), :remote => true, class: 'btn btn-success btn-xs'
    = link_to raw("<i class='fa fa-pencil'></i> Edit"), edit_task_time_path(task_time), class: 'btn btn-info btn-xs'
    = link_to raw("<i class='fa fa-trash'></i> Delete"), task_time, method: :delete, data: { confirm: "Are you sure to delete this record?" }, class: 'btn btn-danger btn-xs'
