$("#name").val("<%=escape_javascript @task_time.name%>")
$("#project_id").val("<%=escape_javascript @task_time.project_id.to_s%>")

$("#toggleTimer").click()
console.log("<%=escape_javascript @task_time.name%>")
