= content_for :head do
    h1
      | Time registry
      small List of times

.row
  .col-md-12
    .box.box-success
      .box-body
        .row
          .col-xs-3
            = text_field_tag :name, nil, class: 'form-control', placeholder: 'Enter task name'
          .col-xs-4
            = select_tag :project_id, options_from_collection_for_select(@projects, "id", "name"), {class:'form-control', prompt: 'Select project...'}
          .col-xs-2.text-center
            span id='timeCount' style="font-size:24px"
              |00:00
          .col-xs-3.text-right
            button.btn.btn-primary.btn-block id="toggleTimer" aria-pressed="false" autocomplete="off" data-toggle="button" type="button" onclick="toggleTimer(this)" Start
      /! /.box-body
    .box.box-primary
      .box-header.with-border
        h3.box-title = "Recently registered"
        .box-tools.pull-right
          .input-group
            = link_to "Create Manually", new_task_time_path, class: "btn btn-primary btn-xs pull-right"
      /! /.box-header
      .box-body
        table.table.table-condesed
          thead
            tr
              th = sort_link(@q, :name, 'Task Name', default_order: :desc)
              th = sort_link(@q, :project_id, 'Project', default_order: :desc)
              th Time
              th
              th = sort_link(@q, :task_date, 'Task date', default_order: :desc)
              th Actions
          tbody.task-times
            = render partial: "task_time", collection: @task_times, as: :task_time
