doctype html
html
  head
    = render partial: "shared/header"

  body.hold-transition.skin-red.sidebar-mini
    .wrapper
      = render partial: "shared/user_navbar"
      = render partial: "shared/admin_sidebar"

      .content-wrapper
        section.content-header
          .row
            = render "shared/flash_messages", flash: flash
          = yield :head

        section.content
          = yield
      = render partial: "shared/admin_footer"
      = render partial: "shared/admin_asidebar"
