doctype html
html
  head
    = render partial: "shared/header"

  body.hold-transition.login-page
    section.content-header
      .row
        .col-md-4.col-md-offset-4
          = render "shared/flash_lg_messages", flash: flash
    = yield
